 <%- include('partials/head', { cssFile }) %>
<body>
  <div class="about-container">
    <div class="about-text">
      <h1>About Me</h1>
      <p>
        Hi, my name is <span>Sonu Mandal</span>. I am from <span>West Champaran, Bihar</span>.<br><br>
        I completed my <span>10th with 76.6%</span> and <span>12th with 81%</span>. Currently, I am pursuing a <span>BCA</span> 
        from Vivekananda Global University, Jaipur.<br><br>
        I am passionate about <span>Backend Development</span> and love learning new technologies to improve my skills.
      </p>
    </div>

    <div class="about-img">
      <!-- 👇 Yaha apna actual image ka naam lagao -->
      <img src="/images/your-image.png" alt="About Image">
    </div>
  </div>
</body>
</html>
