 <%- include('partials/head', { cssFile }) %>
<body>
    <div class="contact-container">
   <form action="contact-submit" method="POST" class="'contact-left">
      <div class="contact-left-title">
        <h2>Get in Touch</h2>
        <hr>
      </div>
      
      <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
      <input type="email" name="email" placeholder="Your Email" class="contact-inputs" required>
      <input type="tel" name="number" placeholder="Your Number" class="contact-inputs" required>
      <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>

      <button type="submit">
        Submit 
        <img src="https://png.pngtree.com/png-vector/20220923/ourmid/pngtree-click-me-3d-button-web-png-image_6213762.png" alt="submit icon">
      </button>
    </form>
  </div>
</body>
</html>